body {
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el relleno predeterminado del body */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/image 19.jpg');
    background-size: cover; /* Cambiado a cover para cubrir todo el fondo */
    opacity: 0.2;
    z-index: -1; /* Mover detrás del contenido */
}

/* Resto del código CSS permanece sin cambios */


.regresarl:hover{
    opacity: 0.65;
}

.navColor{
    background-color: #ABFFB4;
}
.inicio{text-align: right;}
.titulo{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem; 
}    
.regresar{text-align: left;}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

div label{
    width: 18.75rem;
    height: 3.0625rem;
    border-radius: 1.875rem;
    border: 1px solid #000;
    background: #FFF;
    padding: 0.7rem 0.8rem;
    margin-bottom: 0.75rem;
    z-index: 1;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.botones input[type=button] {
    width: 18.1875rem;
    height: 2.9375rem;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #FFFFFF;
    transition: .2s all ease;
    padding: 8px 12px;
    margin-bottom: 0.75rem;
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
}

.botones input[type=button]:hover{
    background: #0000009c;
    color: #FFFFFF;
}

.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.boton2 input[type=button] {
    width: 11.5rem;
    height: 2.3125rem;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #FFFFFF;
    transition: .2s all ease;
    padding: 8px 12px;
    margin-bottom: 0.75rem;
    text-align: center;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
}

.boton2 input[type=button]:hover{
    background: #0000009c;
    color: #FFFFFF;
}

.foto{
    height: 10rem; 
    text-align: center;
    z-index: 1;
    margin-top: 1.56rem;
}

.foto img{
    height: 7.75rem; 
    width: 7.75rem; 
    border-radius: 7.75rem;
}