/*Importar Bootstrap*/
@import url(css_bootstrap/bootstrap.css);

/* Animacion tipo cortina del menu*/

.menu{
    width: 50px;
    height: 50px;
}

.navColor{
    background-color: #D5F2E1;
}

.busquedaColor{
    background-color: #FFC062;
}

.bg-transparent-1{
    background-color: rgba(255, 255, 255, 0.9);
}

.titulo{
    font-weight: bold;
    font-size: xx-large;
}