body{
  background-color: #fff9d6;
}


h1 {
  text-align: center;
}

header{
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}


.busqueda{
  z-index: 10;
}

.navColor{
  background-color: #ffe552;
}
.inicio{text-align: right;}

.inicio img{
  width: 3.4375rem;
  height: 3.4375rem;
  padding: 6px;
}

.regresar{text-align: left;}

.regresar img{
  width: 3.4375rem;
  height: 3.4375rem;
  padding: 6px;
}
.titulo{
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.875rem; 
}  
.day {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  background-color: #000;
}

#eliminarbtn{
  width: 11.5rem;
  height: 2.3125rem;
  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 25px;
  color: #000;
  transition: .2s all ease;
  padding: 8px 12px;
  margin-top:2rem;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
}

button:hover {
  background-color: #202020;
  color:white;
}

.container{
  margin-top: 5rem;
}


.detalles{
  width: 8rem;
  height: 2rem;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8125rem;
  border: 1px solid #000000;
  border-radius: 25px;
  margin-top:1rem;
}

.boton-redondo{
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%; /* Esto hace que el botón sea redondo */
  background-color: #ffda1f;
  border: none;
  outline: none;    
}

.boton-redondo svg{
  margin-bottom: 0.5rem;
}

.boton-redondo:hover {
  background-color: #ffda1f;
}

.resize{
  margin-top: -3rem;
}

.modal-content{
  border-radius: 1.25rem;
  border: 1px solid #000;
  background: #ffe552;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-content div p{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.875rem;
  margin-bottom: 2.12rem;
}

.modal-content div button{
  width: 18.625rem;
  height: 2.9375rem;
  border-radius: 1.875rem;
  border: 1px solid #000;
  background: #D9D9D9;
  padding: 0.7rem 0.8rem;
  margin-bottom: 1.25rem;
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 900;
  color: #000;
}

.iconConfirm{
  text-align: left;
}
.iconConfirm svg{
  margin-right: 30%;
}
.iconConfirm2{
  text-align: left;
}
.iconConfirm2 svg{
  margin-right: 15%;
}
.iconCancel{
  text-align: left;
}
.iconCancel svg{
  margin-right: 30%;
}

.tab-container {
  position: relative;
}

.tab-content {
  z-index: 2;
  position: relative;
}

.historial-container{
  max-width: 17rem;
  max-height: 10rem;
  min-height: 10rem;
  padding: 1.25rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #ffe552;
  z-index: 2;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.historial-empty{
  text-align:center;
  color:#777;
}

.historial-empty p{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.875rem; 
  margin-top: 10%;
}


.contenedorSitio{
  width: auto;
  height: 8rem;
  position:relative;
  z-index:2;
  background-color:#ffda1f;
  color:black;
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  min-height:60px;
  padding: 16px;
  border-radius:24px;
  font-size:16px;
  margin: 5rem 0 5rem 0;
}

.imagenSitio{
  width:6rem;
  height: 6rem;
  object-fit: cover;
  border-radius:5px;
  margin-right:1rem ;
}

#nameSitio{
  display:grid;
  gap:0.125rem;
}

.eliminarSitio1x1{
  display:flex;
  gap:6px;
  margin-left:auto;
  padding: 0;
}

@media (min-width: 992px) {
  .contenedorSitio{
      width: auto;
      height: 15rem;
  }

  .imagenSitio{
      width:12rem;
      height: 12rem;
  }
  .boton-redondo svg{
      width:70px;
      height:70px;
  }

  .detalles{
      width: 9rem;
      height: 3rem;
  }
}

@media (max-width:350px) {

  .imagenSitio{
      width:4.5rem;
      height: 4.5rem;
  }
  .boton-redondo svg{
      width:25px;
      height:25px;
  }

  .detalles{
      width: 6rem;
      height: 2rem;
  }

  .modal-content div button{
      width: 16.625rem;
      height: 2.9375rem;;
  }
}

