body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  header{
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imgActualizarDatos/image\ 19.jpg');
    background-size: contain;
    opacity: 0.2;
    padding: 0;
    margin: 0;
}

form{
    z-index: 1;
}

.navColor{
    background-color: #7a5044;
}
.inicio{text-align: right;}

.inicio img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}

.regresar{text-align: left;}

.regresar img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}
.titulo{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem; 
}    


.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .headerc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #542f25;
    color: #fff;
    padding: 10px;
    font-size: 20px;
  }
  
  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
  }
  
  .day {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .day:hover {
    background-color: #542f25;
    color: #fff;
  }
  
  .month-year-picker {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .month-year-picker select {
    padding: 5px;
  }
  