body{
    background-color: #fff3d7;
}

header{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

h4{
    margin-top: 100px;
}

h4,h6{
    text-align: center;
    z-index: 1;
}


.navColor{
    background-color: #dcb56d;
}
.inicio{text-align: right;}

.inicio img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}

.regresar{text-align: left;}

.regresar img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}
.titulo{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem; 
}    


.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}

.contenedor .checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    z-index: 1;
}

.contenedor .checkbox ul {
    list-style: none;
    padding: 0;
    display: flex;
    z-index: 1;
}

.contenedor .checkbox ul li {
    margin: 5px;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.contenedor .checkbox ul li label {
    display: block;
    background: #ffe1a3;
    border: 1px solid #ffe1a3;
    border-radius: 25px;
    color: #000000;
    transition: .2s all ease;
    padding: 9px 10px;
    height: 3.5rem;
    width: 6.5rem;
    z-index: 1;
    font-size: 0.85rem;
}

.contenedor .checkbox ul li label:hover {
    border: 1px solid #d66464;
}

.contenedor .checkbox ul li input[type=checkbox] {
    display: none;
}

.contenedor .checkbox ul li input[type=checkbox]:checked + label {
    background: #735725;
    border: 1px solid #735725;
    color: #FFFFFF;
}

.contenedor .number{
    display: flex;
    align-items: center;
    margin: 5px;
    z-index: 1;
}

.contenedor .number label{
    list-style: none;
    display: flex;
    z-index: 1;
    border: 1px solid #000000;
    border-radius: 25px;
    height: 3rem;
    width: 60%;
    font-size:1rem;
    text-align: center;
    padding: 0 10px;
}

.contenedor .number input[type=number] {
    display: inline-block;
    background: #ffe1a3;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #000000;
    transition: .2s all ease;
    padding: 9px 10px;
    margin-left: 10px;
    height: 3rem;
    width: 30%;
    font-size:1rem;
    text-align: center;
}

.contenedor .submit{
    display: flex;
    align-items: center;
    margin: 5px;
    z-index: 1;
}

.contenedor .submit input[type=submit] {
    display: inline-block;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #FFFFFF;
    transition: .2s all ease;
    padding: 8px 12px;
    margin-left: 5px;
}

.contenedor .submit input[type=submit]:hover{
    background: #0000009c;
    color: #FFFFFF;
}

.mi-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21rem;
    height: 13.75rem;
    background-color: #000; /* Color de fondo verde, ajusta según tus preferencias */
    opacity: 0.95;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column; /* Alinear elementos verticalmente */
}

#btnContinuar {
    margin-top: 2.5rem; /* Espacio entre el mensaje y el botón */
    padding: 0; /* Elimina el espaciado interno del botón */
    background-color: transparent; /* Color de fondo transparente */
    color: #48ACD7; /* Color de texto del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
}

#btnContinuar:disabled {
    opacity: 0.5; /* Opacidad reducida cuando el botón está desactivado */
    cursor: not-allowed; /* Cambia el cursor cuando el botón está desactivado */
}

.error-message {
    color: red;
    font-size: 12px;
    height: 10px;
    font-weight: bold;
  }