header{
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imgActualizarDatos/image\ 19.jpg');
    background-size: contain;
    opacity: 0.2;
    padding: 0;
    margin: 0;
}

form{
    z-index: 1;
}

.navColor{
    background-color: #ABFFB4;
}
.inicio{text-align: right;}

.inicio img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}

.regresar{text-align: left;}

.regresar img{
    width: 3.4375rem;
    height: 3.4375rem;
    padding: 6px;
}
.titulo{
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem; 
}    


.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dtsActualizar input{
    width: 18.75rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    border: 1px solid #000;
    background: #FFF;
    padding: 0.7rem 0.8rem;
    margin-bottom: 1.25rem;
    z-index: 1;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones input[type=button] {
    width: 9.4375rem;
    height: 2.3125rem;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #FFFFFF;
    transition: .2s all ease;
    padding: 8px 12px;
    margin-bottom: 2.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    text-align: center;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
}

.botones input[type=button]:hover{
    background: #0000009c;
    color: #FFFFFF;
}

.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.boton2 input[type=button] {
    width: 11.5rem;
    height: 2.3125rem;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #FFFFFF;
    transition: .2s all ease;
    padding: 8px 12px;
    margin-bottom: 0.75rem;
    text-align: center;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
}

.boton2 input[type=button]:hover{
    background: #0000009c;
    color: #FFFFFF;
}

.foto{
    height: 7.75rem; 
    text-align: center;
    z-index: 1;
    margin-top: 90px;
}

.foto img{
    height: 7.75rem; 
    width: 7.75rem; 
    border-radius: 7.75rem;
}

.subirImg{
    z-index: 1;
    align-items: center;
    margin-bottom: 15px;
}

.subirImg label{
    color: #000;
    font-family: Roboto;
    font-size: 0.8rem;
    font-style: normal;
}

.subirImg input[type=file]{
    display: none;
}

.subirImg img{
    height: 0.8rem; 
    z-index: 1;
    margin-right: 3px;
}

.edit{
    margin-right: 1.9rem;
}